In [1]:
print('hello')

hello

In [3]:
A=[1,2,3,4,5]
A.insert(3,[7,8,9,10])
print(A)

[1, 2, 3, [7, 8, 9, 10], 4, 5]

In [26]:
list2 = [100,110,120]
list2.extend(list2*3)
print(list2)

[100, 110, 120, 100, 110, 120, 100, 110, 120, 100, 110, 120]

In [11]:
list2 = [100,110,120]
list2.remove(list2[2])
print(list2)

[100, 110]

In [14]:
list2 = [100,110,120]
del(list2[0])
print(list2)

[110, 120]

In [16]:
list2 = [100,110,120]
a=list2.pop(0)
print(a)
print(list2)

100
[110, 120]

In [22]:
list1 = [1,2,3,4,5,6]
list1= [x * 2 for x in [1,2,3,4,5]]
print (list1)

[2, 4, 6, 8, 10]

In [23]:
list1 = [1,2,3,4,5,6]
list1.append (15)
list1.extend (['A','B','C'])
list1.insert (2, 'M')
list1.insert (2, ['P','Q','R'])
print (list1)

[1, 2, ['P', 'Q', 'R'], 'M', 3, 4, 5, 6, 15, 'A', 'B', 'C']

In [27]:
list1 = ['Rick','Jim','Mark','Jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'Mark', 'Jack', 'Ken']
['Jack', 'Jim', 'Ken', 'Mark', 'Rick']

In [30]:
list1 = []
for x in [1,2,3,4,5]:
    list1.append (x * 2)
print (list1)

[2, 4, 6, 8, 10]

In [1]:
tup1 =(1,2,3,'x','y','m')
tup2 =('x','y','m','N')
print (len(tup1))
print (max(tup2))
print (min(tup2))

6
y
N

In [7]:
tup2 =('B','A','Z','N')
print (max(tup2))
print (min(tup2))

Z
A

In [8]:
tup1 =(1,2,3,'x','y','m')
print (tup1 *2)
print ('x' in tup1)

(1, 2, 3, 'x', 'y', 'm', 1, 2, 3, 'x', 'y', 'm')
True

In [9]:
tup1 =(1,2,3,'x','y','m')

In [10]:
tup1[1]=00
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [12]:
tup1 =(1,2,3,'x','y','m')
print (tup1 *2)
print (int('00' in tup1))

(1, 2, 3, 'x', 'y', 'm', 1, 2, 3, 'x', 'y', 'm')
0

In [13]:
tup1=(10,20,30)
tup2=tup1 [:2]
print(tup2)

(10, 20)

In [16]:
tup1=(10,20,30)
tup2=tup1 [:2]
tup3=tup1[2:]*3
print(tup3)

(30, 30, 30)

In [18]:
tup1=(10,20,30)
tup2=tup1 [:2]
tup3=tup1[2:]*3
tup1 = tup2+tup3
print (tup1)
print(tup2)
print(tup3)

(10, 20, 30, 30, 30)
(10, 20)
(30, 30, 30)

In [20]:
tup1=(10,20,30,[1,2,3,4])

In [21]:
tup1[3][2]=22

In [22]:
print(tup1)

(10, 20, 30, [1, 2, 22, 4])

In [25]:
tup1 =(1,2,3)
tup2 =(4,5,6)
tup3 = tup1+tup2
print (tup3)
del (tup2)
print (tup2)

(1, 2, 3, 4, 5, 6)

NameError: name 'tup2' is not defined

In [26]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
x = list('Good Morning')
print (x)

['G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g']

In [29]:
x = set ('Good Morning')
sorted(x)
print (x)

{'d', 'M', 'G', 'r', 'i', 'g', ' ', 'o', 'n'}

In [30]:
x = set ('Good Morning')
print (x)

{'d', 'M', 'G', 'r', 'i', 'g', ' ', 'o', 'n'}

In [33]:
x = set ('Good Morning')
sorted(x)
print (x)

{'d', 'M', 'G', 'r', 'i', 'g', ' ', 'o', 'n'}

In [37]:
a = {1,2,3,4}
b = {3,4,5,6,8}
c = a|b
print (c)
print(a&b)
print(b-a)

{1, 2, 3, 4, 5, 6, 8}
{3, 4}
{8, 5, 6}

In [40]:
a= sorted(a,reverse=True)
print(a)

[4, 3, 2, 1]

In [42]:
person = {'First_Name': 'John', 'Last_Name': 'Sam','Salary' : 5000}
print (person['First_Name'])
print(person['Salary'])

John
5000

In [44]:
a = {1,2,3,6}
a.add (60)
a

{1, 2, 3, 6, 60}

In [76]:
a = {3,4,1,2,5}
while a:
    print(a.pop())

1
2
3
4
5

In [80]:
a = {1,2,3,6}

In [82]:
a1=frozenset({1,2,3,6})
print(a1)

frozenset({1, 2, 3, 6})

In [83]:
print(type(a1))

<class 'frozenset'>

In [84]:
dir(frozenset)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [110]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}
print(person)

{'first_name': ['John', 'Sam', 'Jim', 'Kim'], 'Last_name': 'Len'}

In [111]:
person['first_name'].append('viraj')
person

{'first_name': ['John', 'Sam', 'Jim', 'Kim', 'viraj'], 'Last_name': 'Len'}

In [112]:

person.clear()
print(person)

{}

In [114]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
double_dict1 = {k:v**2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [1]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
double_dict1 = { k:v**2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [1]:
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=",")
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199